html {
  font-size: 62.5%;
}
*,
*::after,
::before {
  box-sizing: border-box;
}
body {
  font-size: 400%;
  display: flex;
  flex-direction: column;
}
.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: .1%;
}
.question {
  width: 15%;
  padding: 2%;
}
